#это корневой файл для всего проекта
root = true

#правила для всех файлов (*)
[*]
#использовать кодировку UTF-8
charest = utf-8
#использовать пробелы для отступов
indent_style = space
#размер отступа: 4 пробела
indest_size = 4
#тип переноса строки: LF
end_of_line = lf
#удалять пробелы в конце строк
trim_traling_whitespace = true
#добовлять пустую строку в конце файла
insert_final_newline = true

#особые правила для файлов разметки
[*.{yml,yaml,json,html}]
indent_size = 2
